:root {
  --container-width: 1200px;
  --container-padding: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* base style globs */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #fff;
}

.container {
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;
}

/* globs */
.main {
  background-color: rgb(239, 241, 244);
  padding: 20px 0 80px;
}

/* layout */
.nav {
  display: flex;
  justify-content: right;
  align-items: flex-start;
  /* ---------- nav mobile ---------- */
}
.nav-menu {
  width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}
.nav-menu__item {
  list-style: none;
  text-align: center;
}
.nav-menu__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.2s linear;
}
.nav-menu__link:hover {
  color: #fff;
}
.nav-menu__select {
  list-style: none;
  position: relative;
  color: #fff;
}
.nav-menu__select:hover .nav-menu__select-arrow {
  transform: rotate(90deg);
}
.nav-menu__select:hover .nav-menu__select-body {
  transform: scaleY(1);
}
.nav-menu__select-header-current {
  list-style: none;
  cursor: pointer;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.2s linear;
}
.nav-menu__select-header-current:hover {
  color: #fff;
}
.nav-menu__select-item {
  list-style: none;
  cursor: pointer;
  padding: 3px 5px;
}
.nav-menu__select-item:hover {
  background-color: #FF4D4D;
  color: #fff;
}
.nav-menu__select-arrow {
  font-size: 0.8rem;
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  right: -15px;
  transition: 0.2s linear;
}
.nav-menu__select-body {
  position: absolute;
  top: 25px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transform: scaleY(0);
  transform-origin: center top;
  transition: 0.2s linear;
}
.nav-menuMobile {
  display: none;
}
@media (max-width: 768px) {
  .nav-menuMobile {
    display: block;
  }
}
.nav-menuMobile__header {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menuMobile__header-item {
  list-style: none;
}
.nav-menuMobile__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  position: absolute;
  top: -140px;
  left: 0;
  width: 100%;
  height: 140px;
  background-color: #6E36F7;
  transition: 0.3s ease-in-out;
}
.nav-menuMobile__body-item {
  list-style: none;
}
.nav-menuMobile__body-item:not(:last-child) {
  margin-bottom: 10px;
}
.nav-menuMobile__body-link {
  text-decoration: none;
  color: #fff;
}
.nav-menuMobile__body-close {
  position: absolute;
  top: 15px;
  right: 20px;
}

.icon__globe {
  color: transparent;
  fill: #fff;
  width: 22px;
  height: 22px;
  margin-right: 5px;
}
.icon__route {
  width: 22px;
  height: 22px;
  fill: #fff;
  margin-right: 8px;
}
.icon__burger {
  color: transparent;
  fill: #fff;
  width: 22px;
  height: 22px;
}
.icon__close {
  color: transparent;
  fill: #fff;
  width: 22px;
  height: 22px;
}

.header {
  background-color: #6E36F7;
  padding: 30px 0 100px;
}
.header__title {
  font-size: 45px;
  margin: 60px 0 40px;
}
.header__button-list {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}
.header__button-item {
  display: block;
  padding: 8px 20px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #805FF6;
  color: #fff;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.header__button-item_active {
  background-color: #fff;
  color: #000;
}
.header__button-item_sales {
  padding-right: 5px;
}
.header__button-item:hover {
  background-color: #fff;
  color: #000;
}
.header__button-item:active {
  background-color: #805FF6;
}
.header__button-sales {
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: green;
  color: #fff;
}
.header__row {
  width: 100%;
  height: 80px;
  margin: 15px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header__order {
  width: 90%;
  height: 100%;
  background-color: #fff;
}
.header__btn {
  width: 10%;
  height: 100%;
  display: block;
  background-color: #FF4D4D;
}
.header__link {
  display: block;
  text-decoration: none;
  color: #fff;
}

/* ---------- section adt ---------- */
.section-adt__box {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}
.section-adt__item {
  width: 50%;
  background-color: #fff;
  padding: 25px 20px 20px;
  border-radius: 10px;
  box-shadow: 12px 4px 34px -10px rgba(0, 0, 0, 0.36);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.controlTelegram__list {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}
.controlTelegram__text {
  font-size: 0.9rem;
  margin-right: 10px;
}
.controlTelegram__text::before {
  content: url("../img/svg/check.svg");
  display: inline-block;
  width: 12px;
  height: 100%;
  margin-right: 3px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.controlTelegram-btn {
  margin-top: 5px;
  padding: 15px 25px;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  border: none;
  background-color: #fbdada;
  color: #FF4D4D;
  cursor: pointer;
}

.busTickets__list {
  width: 380px;
  display: flex;
}
.busTickets__text {
  font-size: 0.9rem;
  margin-right: 10px;
}
.busTickets__text::before {
  content: url("../img/svg/check.svg");
  display: inline-block;
  width: 12px;
  height: 100%;
  margin-right: 3px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.busTickets-btn {
  margin-top: 5px;
  padding: 15px 25px;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  border: none;
  background-color: #FF4D4D;
  color: #fff;
  cursor: pointer;
}

/* ---------- end section adt ---------- */
/* ---------- section content ---------- */
.section-content {
  margin-top: 30px;
}
.section-content__box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-template-areas: "popularDistance popularDistance topTen" "hotSales hotSales frequentQuestions" "hotSales hotSales bestOffers";
}
.section-content__title {
  margin-bottom: 10px;
}
.section-content__item {
  height: fit-content;
}
.section-content__item-wrap {
  background-color: #fff;
  padding: 15px 20px;
  box-shadow: 12px 4px 34px -10px rgba(0, 0, 0, 0.36);
  border-radius: 15px;
}

.popularDistance {
  grid-area: popularDistance;
}

.topTen {
  grid-area: topTen;
  background: bisque;
}

.hotSales {
  grid-area: hotSales;
}
.hotSales__subtitle {
  margin-bottom: 5px;
}
.hotSales__subtitle:not(:first-child) {
  margin-top: 15px;
}
.hotSales__text {
  font-size: 0.9rem;
  color: #939393;
}

.frequentQuestions {
  grid-area: frequentQuestions;
}
.frequentQuestions__item {
  list-style: none;
}
.frequentQuestions__item:not(:first-child) {
  margin-top: 15px;
}

.bestOffers {
  grid-area: bestOffers;
  background: bisque;
}

/*# sourceMappingURL=style.css.map */
