:root {
  --container-width: 1200px;
  --container-padding: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* base style globs */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  background-color: #fff;
}

.container {
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  margin: 0 auto;
}

/* globs */
/* ----- css loaders ------ */
.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: none;
  margin: 15px auto;
  position: relative;
  background: #ccc;
  box-shadow: -24px 0 #ccc, 24px 0 #ccc;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}
.loader_active {
  display: block;
}

@keyframes shadowPulse {
  33% {
    background: #ccc;
    box-shadow: -24px 0 #FF3D00, 24px 0 #ccc;
  }
  66% {
    background: #FF3D00;
    box-shadow: -24px 0 #ccc, 24px 0 #ccc;
  }
  100% {
    background: #ccc;
    box-shadow: -24px 0 #ccc, 24px 0 #FF3D00;
  }
}
/* ----- css loaders ------ */
.main {
  background-color: rgb(239, 241, 244);
  padding: 20px 0 80px;
}

/* layout */
.nav {
  display: flex;
  justify-content: right;
  align-items: flex-start;
  /* ---------- nav mobile ---------- */
  /* ---------- END nav mobile ---------- */
}
.nav-menu {
  margin-right: 15px;
  width: 540px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}
.nav-menu__item {
  list-style: none;
  text-align: center;
}
.nav-menu__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.2s linear;
}
.nav-menu__link:hover {
  color: #fff;
}
.nav-menu__select {
  list-style: none;
  position: relative;
  color: #fff;
}
.nav-menu__select:hover .nav-menu__select-arrow {
  transform: rotate(90deg);
}
.nav-menu__select:hover .nav-menu__select-body {
  transform: scaleY(1);
}
.nav-menu__select-header-current {
  list-style: none;
  cursor: pointer;
  display: flex;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.2s linear;
}
.nav-menu__select-header-current:hover {
  color: #fff;
}
.nav-menu__select-item {
  list-style: none;
  cursor: pointer;
  padding: 3px 5px;
}
.nav-menu__select-item:hover {
  background-color: #FF4D4D;
  color: #fff;
}
.nav-menu__select-arrow {
  font-size: 0.8rem;
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  right: -15px;
  transition: 0.2s linear;
}
.nav-menu__select-body {
  position: absolute;
  top: 25px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  transform: scaleY(0);
  transform-origin: center top;
  transition: 0.2s linear;
}
.nav-menuMobile {
  display: none;
}
@media (max-width: 768px) {
  .nav-menuMobile {
    display: block;
  }
}
.nav-menuMobile__header {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menuMobile__header-item {
  list-style: none;
}
.nav-menuMobile__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
  position: absolute;
  top: -140px;
  left: 0;
  width: 100%;
  height: 140px;
  background-color: #6E36F7;
  transition: 0.3s ease-in-out;
}
.nav-menuMobile__body-item {
  list-style: none;
}
.nav-menuMobile__body-item:not(:last-child) {
  margin-bottom: 10px;
}
.nav-menuMobile__body-link {
  text-decoration: none;
  color: #fff;
}
.nav-menuMobile__body-close {
  position: absolute;
  top: 15px;
  right: 20px;
}

.icon__globe {
  color: transparent;
  fill: #fff;
  width: 22px;
  height: 22px;
  margin-right: 5px;
}
.icon__route {
  width: 22px;
  height: 22px;
  fill: #fff;
  margin-right: 8px;
}
.icon__burger {
  color: transparent;
  fill: #fff;
  width: 22px;
  height: 22px;
}
.icon__close {
  color: transparent;
  fill: #fff;
  width: 22px;
  height: 22px;
}
.icon__angleRight {
  color: transparent;
  fill: #000;
  width: 22px;
  height: 18px;
}

.header {
  background-color: #6E36F7;
  padding: 30px 0 100px;
}
.header__title {
  font-size: 45px;
  margin: 60px 0 40px;
}
.header__button-list {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px;
}
.header__button-item {
  display: block;
  padding: 8px 20px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: #805FF6;
  color: #fff;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.header__button-item_active {
  background-color: #fff;
  color: #000;
}
.header__button-item_sales {
  padding-right: 5px;
}
.header__button-item:hover {
  background-color: #fff;
  color: #000;
}
.header__button-item:active {
  background-color: #805FF6;
}
.header__button-sales {
  margin-left: 5px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: green;
  color: #fff;
}
.header-order__wrap {
  width: 100%;
  height: 80px;
  margin: 15px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header-order__btn {
  width: 10%;
  height: 100%;
  display: block;
  background-color: #FF4D4D;
}
.header__link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

/* ---------- wrap order ---------- */
.airTickets {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.airTickets-inputBox {
  width: 40%;
  height: 100%;
  border-right: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.airTickets-inputBox__inner {
  width: 100%;
  height: 100%;
  padding: 17px 0 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  outline: none;
  position: relative;
}
.airTickets-inputBox__input {
  width: 100%;
  display: block;
  font-size: 1.1rem;
  border: none;
  outline: none;
  background: transparent;
}
.airTickets-inputBox__input-label {
  font-size: 1.1rem;
  font-weight: 600;
  color: #999;
  position: absolute;
  top: 60%;
  left: 20px;
  transform: translateY(-50%);
  transition: 0.3s ease-in-out;
}
.airTickets-inputBox__input:valid ~ .airTickets-inputBox__input-label, .airTickets-inputBox__input:focus ~ .airTickets-inputBox__input-label {
  font-size: 0.9rem;
  transform: translate(0px, -32px);
}
.airTickets-calendarBox {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.airTickets-calendarBox__icon {
  width: 30px;
}
.airTickets-passengerBox {
  width: 25%;
  height: 100%;
  padding: 17px 0 0 20px;
  border-left: 1px solid #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.airTickets-passengerBox__label {
  font-size: 1.1rem;
  font-weight: 600;
  color: #999;
  user-select: none;
  position: absolute;
  top: 60%;
  left: 20px;
  transform: translateY(-50%);
  transition: 0.3s ease;
}
.airTickets-passengerBox__label:hover {
  color: #6E36F7;
  cursor: pointer;
}
.airTickets-passengerBox__label_active {
  font-size: 0.9rem;
  transform: translate(0px, -32px);
}
.airTickets-passengerBox__out {
  font-size: 1.1rem;
  line-height: 1.1rem;
}
.airTickets-passengerBox__menu {
  width: 130%;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #6E36F7;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  z-index: 100;
  transform-origin: center top;
  height: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.airTickets-passengerBox__menu-container {
  padding: 15px 20px;
}
/* ---------- airTickets passenger menu ---------- */
.airTickets-menu {
  padding: 20px 0 20px;
  width: 100%;
  border-bottom: 1px solid #999;
}
.airTickets-menu-description {
  color: #999;
}
.airTickets-menu__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.airTickets-menu__item:not(:first-child) {
  margin-top: 8px;
}
.airTickets-menu__label {
  display: flex;
  flex-direction: column;
  font-size: 1.05rem;
}
.airTickets-menu__label_comment {
  color: #999;
  font-size: 0.9rem;
}
.airTickets-menu__btn {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  background: #fff;
  padding: 5px;
  font-size: 40px;
  font-weight: 300;
  color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -3px -3px 8px rgba(0, 0, 0, 0.1), 3px 3px 8px rgba(0, 0, 0, 0.25);
  transition: 0.1s linear;
}
.airTickets-menu__btn-box {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.airTickets-menu__btn:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25), 0 0 0 rgba(0, 0, 0, 0.35);
}
.airTickets-menu__btn:disabled {
  box-shadow: none;
  border: 1px solid #999;
}
.airTickets-menu__out {
  font-size: 1.1rem;
  line-height: 1.1rem;
}
.airTickets-menu-class {
  padding: 20px 0;
}
.airTickets-menu-class__btnBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.airTickets-menu-class__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 30%;
  font-size: 1.05rem;
  background-color: #fff;
  border: none;
  outline: none;
  box-shadow: -3px -3px 8px rgba(0, 0, 0, 0.1), 3px 3px 8px rgba(0, 0, 0, 0.25);
  transition: 0.1s linear;
}
.airTickets-menu-class__btn_active {
  box-shadow: none;
  background-color: #FF4D4D;
  color: #fff;
}
.airTickets-menu-class__btn:hover {
  background-color: #FF4D4D;
  color: #fff;
}
.airTickets-menu-class__btn:active {
  box-shadow: none;
}
.airTickets-menu__closeBtn {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 1.1rem;
  line-height: 1.1rem;
  font-weight: 600;
  background-color: #FF4D4D;
  color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  transition: 0.1s linear;
}
.airTickets-menu__closeBtn:hover {
  font-size: 1.4rem;
}

/* ---------- section adt ---------- */
.section-adt__box {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
}
@media (max-width: 992px) {
  .section-adt__box {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.section-adt__item {
  width: 50%;
  background-color: #fff;
  padding: 25px 20px 20px;
  border-radius: 10px;
  box-shadow: -5px -5px 34px -10px rgba(0, 0, 0, 0.36);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
@media (max-width: 992px) {
  .section-adt__item {
    width: 100%;
  }
}

.controlTelegram__list {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}
.controlTelegram__text {
  font-size: 0.9rem;
  margin-right: 10px;
}
.controlTelegram__text::before {
  content: url("../img/svg/check.svg");
  display: inline-block;
  width: 12px;
  height: 100%;
  margin-right: 3px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.controlTelegram-btn {
  margin-top: 5px;
  padding: 15px 25px;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  border: none;
  background-color: #fbdada;
  color: #FF4D4D;
  cursor: pointer;
}

.busTickets__list {
  width: 380px;
  display: flex;
}
.busTickets__text {
  font-size: 0.9rem;
  margin-right: 10px;
}
.busTickets__text::before {
  content: url("../img/svg/check.svg");
  display: inline-block;
  width: 12px;
  height: 100%;
  margin-right: 3px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.busTickets-btn {
  margin-top: 5px;
  padding: 15px 25px;
  font-size: 1.1rem;
  font-weight: 500;
  outline: none;
  border: none;
  background-color: #FF4D4D;
  color: #fff;
  cursor: pointer;
}

/* ---------- end section adt ---------- */
/* ---------- section content ---------- */
.section-content {
  margin-top: 30px;
}
.section-content__box {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-template-areas: "popularDistance popularDistance topTen" "hotSales hotSales frequentQuestions" "hotSales hotSales bestOffers";
}
@media (max-width: 992px) {
  .section-content__box {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "popularDistance" "topTen" "hotSales" "frequentQuestions" "bestOffers";
  }
}
.section-content__title {
  margin-bottom: 10px;
}
.section-content__item {
  height: fit-content;
}
.section-content__item-wrap {
  background-color: #fff;
  padding: 15px 20px;
  box-shadow: 12px 4px 30px -10px rgba(0, 0, 0, 0.36);
  border-radius: 15px;
}

.popularDist {
  grid-area: popularDistance;
}

.topTen {
  grid-area: topTen;
}
.topTen__list {
  margin-left: 20px;
}
.topTen__item:not(:first-child) {
  margin-top: 10px;
}
.topTen__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topTen__link {
  text-decoration: none;
  color: #3292f0;
}
.topTen__icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.topTen__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotSales {
  grid-area: hotSales;
}
.hotSales__subtitle {
  margin-bottom: 5px;
}
.hotSales__subtitle:not(:first-child) {
  margin-top: 15px;
}
.hotSales__text {
  font-size: 0.9rem;
  color: #939393;
}

.frequentQuestions {
  grid-area: frequentQuestions;
}
.frequentQuestions__item {
  list-style: none;
}
.frequentQuestions__item:not(:first-child) {
  margin-top: 15px;
}
.frequentQuestions__link {
  text-decoration: none;
  color: #3292f0;
}

.bestOffers {
  grid-area: bestOffers;
  background: bisque;
}

/* ---------- footer ---------- */
.footer {
  padding: 20px 0 30px;
  background: #fff;
  border-bottom: 5px solid #000;
}
.footer-logo__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.footer-logo__item {
  max-height: 50px;
}
@media (max-width: 768px) {
  .footer-logo__item {
    max-height: 40px;
  }
}
@media (max-width: 576px) {
  .footer-logo__item {
    max-height: 25px;
  }
}
.footer-link__list {
  margin: 40px 0;
  padding-top: 40px;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .footer-link__list {
    flex-direction: column;
    gap: 30px;
  }
}
.footer-link__program {
  display: flex;
}
@media (max-width: 768px) {
  .footer-link__program {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer-link__program-link {
  display: block;
  text-decoration: none;
  width: 210px;
  height: 40px;
  margin-right: 20px;
  font-size: 0.9rem;
  border: 2px solid #3292f0;
  color: #3292f0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.footer-link__program-link:hover {
  font-size: 1rem;
}
@media (max-width: 768px) {
  .footer-link__program-link {
    flex-direction: column;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.footer-link__inner {
  height: 40px;
  width: 285px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-link__img {
  height: 40px;
}
.footer-link__socials {
  width: 140px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-link__socials-item {
  display: block;
}
.footer-link__socials-icon {
  display: block;
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: rgb(167, 162, 167);
  border-radius: 50%;
}
.footer-link__socials-icon-telegram {
  padding: 0;
  background-color: transparent;
}

/* ---------- accordion ---------- */
.accordion {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .accordion {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
.accordion__item {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
}
@media (max-width: 992px) {
  .accordion__item {
    width: 33.3333333333%;
  }
}
@media (max-width: 768px) {
  .accordion__item {
    width: 100%;
  }
}
.accordion__item-btn {
  font-size: 1.05rem;
  font-weight: 600;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .accordion__item-btn {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    cursor: pointer;
    padding: 10px 0;
    margin-bottom: 0;
  }
  .accordion__item-btn:not(:last-child) {
    border-bottom: none;
  }
}
.accordion__item-icon {
  display: none;
  margin-right: 5px;
  transition: 0.3s ease-in-out;
}
.accordion__item-icon_active {
  transform: rotate(90deg);
}
@media (max-width: 768px) {
  .accordion__item-icon {
    display: block;
  }
}
.accordion__body {
  height: 155px;
}
@media (max-width: 768px) {
  .accordion__body {
    height: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
  }
  .accordion__body_active {
    height: 155px;
  }
}
.accordion__body-item {
  list-style: none;
}
.accordion__body-link {
  display: block;
  text-decoration: none;
  margin-top: auto;
  color: #3292f0;
}
@media (max-width: 768px) {
  .accordion__body-link {
    margin-top: 10px;
    display: none;
  }
  .accordion__body-link_active {
    display: block;
  }
}
.accordion__body-link_arrow {
  margin-left: 5px;
  font-size: 1.05rem;
}

/* ---------- END accordion ---------- */
/* ---------- end footer ---------- */

/*# sourceMappingURL=style.css.map */
