:root{
  --container-width: 1200px;
  --container-padding: 15px;
}
//base
@import "base/vars";
@import "base/reset";
@import "base/base";
@import "base/mixins";
@import "base/containers";

//components
@import "components/loader";
@import "components/icon";
@import "components/nav";
@import "components/header";
@import "components/accordion";
@import "components/footer";


/* globs */



.main{
  background-color: rgb(239, 241, 244);
  padding: 20px 0 80px;
}

/* layout */

/* ---------- wrap order ---------- */
.airTickets{
  width: 100%;
  height: 100%;
  background-color: $secondary-color;
  @include flex(center, flex-end);
  &-inputBox{
    width: 40%;
    height: 100%;
    border-right: 1px solid #000;
    @include flex();
    &__inner{
      width: 100%;
      height: 100%;
      padding: 17px 0 0 20px;
      @include flex();
      flex-direction: column;
      border: none;
      outline: none;
      position: relative;
    }
    &__input{
      width: 100%;
      display: block;
      font-size: 1.1rem;
      border: none;
      outline: none;
      background: transparent;

      &-label{
        font-size: 1.1rem;
        font-weight: 600;
        color: $text-gray-color;
        position: absolute;
        top: 60%;
        left: 20px;
        transform: translateY(-50%);
        transition: 0.3s ease-in-out;
      }
      &:valid ~ &-label,
      &:focus ~ &-label{
        font-size: 0.9rem;
        transform: translate(0px, -32px);
      }
    }
  }
  &-calendarBox{
    width: 35%;
    @include flex();
    &__icon{
      width: 30px;
    }
  }
  &-passengerBox{
    width: 25%;
    height: 100%;
    padding: 17px 0 0 20px;
    border-left: 1px solid #000;
    @include flex(flex-start, center);
    cursor: pointer;
    position: relative;
    &__label{
      font-size: 1.1rem;
      font-weight: 600;
      color: $text-gray-color;
      user-select: none;
      position: absolute;
      top: 60%;
      left: 20px;
      transform: translateY(-50%);
      transition: 0.3s ease;
      &:hover{
        color: $primary-color;
        cursor: pointer;
      }
      &_active{
        font-size: 0.9rem;
        transform: translate(0px, -32px);
      }
    }
    &__out{
      font-size: 1.1rem;
      line-height: 1.1rem;
    }
    &__menu{
      width: 130%;
      background-color: $secondary-color;
      border-radius: 16px;
      border: 1px solid $primary-color;
      position: absolute;
      top: calc(100% + 5px);
      right: 0;
      z-index: 100;
      //display: none;
      //transform: scaleY(0);
      transform-origin: center top;

      height: 0;
      overflow: hidden;
      transition: .3s ease-in-out;
      &-container{
        padding: 15px 20px;
      }
      &_active{
        //display: block;
        //transform: scaleY(1);
      }
    }
  }
}

/* ---------- airTickets passenger menu ---------- */
.airTickets-menu{
  padding: 20px 0 20px;
  width: 100%;
  border-bottom: 1px solid $text-gray-color;
  &-description{
    color: $text-gray-color;
  }
  &__item{
    width: 100%;
    @include flex(space-between);
    &:not(:first-child){
      margin-top: 8px;
    }
  }
  &__label{
    display: flex;
    flex-direction: column;
    font-size: 1.05rem;
    &_comment{
      color: $text-gray-color;
      font-size: 0.9rem;
    }
  }
  &__btn{
    &-box{
      width: 130px;
      @include flex(space-between, center);
    }
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: $secondary-color;
    padding: 5px;
    font-size: 40px;
    font-weight: 300;
    color: $text-gray-color;
    @include flex(center, center);
    box-shadow: -3px -3px 8px rgba(0,0,0,0.1), 3px 3px 8px rgba(0,0,0,0.25);
    transition: .1s linear;
    &:active{
      box-shadow: 0 0 0 rgba(0,0,0,0.25), 0 0 0 rgba(0,0,0,0.35);
    }
    &:disabled{
      box-shadow: none;
      border: 1px solid $text-gray-color;
    }
  }
  &__out{
    font-size: 1.1rem;
    line-height: 1.1rem;
  }

  &-class{
    padding: 20px 0;
    &__btnBox{
      @include flex(flex-start );
      gap: 10px;
      margin-top: 10px;
    }
    &__btn{
      @include flex();
      padding: 10px 15px;
      border-radius: 30%;
      font-size: 1.05rem;
      background-color: $secondary-color;
      border: none;
      outline: none;
      box-shadow: -3px -3px 8px rgba(0,0,0,0.1), 3px 3px 8px rgba(0,0,0,0.25);
      transition: .1s linear;
      &_active{
        box-shadow: none;
        background-color: $accented-red-color;
        color: $secondary-color;
      }
      &:hover{
        background-color: $accented-red-color;
        color: $secondary-color;
      }
      &:active{
        box-shadow: none;
      }
    }
  }
  &__closeBtn{
    display: block;
    width: 100%;
    height: 40px;
    font-size: 1.1rem;
    line-height: 1.1rem;
    font-weight: 600;
    background-color: $accented-red-color;
    color: $secondary-color;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: .1s linear;
    &:hover{
      font-size: 1.4rem;
    }
  }
}


/* ---------- section adt ---------- */
.section-adt{
  &__box{
    @include flex(center, stretch);
    gap: 20px;
    @include _991-block{
      flex-direction: column;
      @include flex(center, center);
    }
  }
  &__item{
    width: 50%;
    background-color: $secondary-color;
    padding: 25px 20px 20px;
    border-radius: 10px;
    box-shadow: -5px -5px 34px -10px rgba(0,0,0,0.36);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    @include _991-block{
      width: 100%;
    }
  }
}

.controlTelegram{
  position: relative;
  &__list{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    @include _575-block{
      flex-direction: column;
    }
  }
  &__text{
    font-size: 0.9rem;
    margin-right: 10px;
    &::before{
      content: url("../img/svg/check.svg");
      display: inline-block;
      width: 12px;
      height: 100%;
      margin-right: 3px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      @include _575-block{
        top: 0;
        transform: translateY(0);
      }
    }
  }
  &__btn{
    width: 235px;
    height: 45px;
    margin-top: 5px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    background-color: $accented-lightRed-color;
    color: $accented-red-color;
    cursor: pointer;
    transition: 0.2s linear;
    &:hover{
      font-size: 1.05rem;
    }
  }
  &__img{
    position: absolute;
    right: 20px;
    bottom: 0;
    @include _575(display, none);
  }
}
.busTickets{
  position: relative;
  &__list{
    width: 380px;
    display: flex;
    @include _575-block{
      flex-direction: column;
    }
  }
  &__text{
    font-size: 0.9rem;
    margin-right: 10px;
    &::before{
      content: url("../img/svg/check.svg");
      display: inline-block;
      width: 12px;
      height: 100%;
      margin-right: 3px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      @include _575-block{
        top: 0;
        transform: translateY(0);
      }
    }
  }
  &__btn{
    width: 150px;
    height: 45px;
    margin-top: 5px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    background-color: $accented-red-color;
    color: $secondary-color;
    cursor: pointer;
    transition: 0.2s linear;
    &:hover{
      font-size: 1.05rem;
    }
  }
  &__img{
    position: absolute;
    right: 20px;
    bottom: 0;
    @include _575(display, none);
  }
}
/* ---------- end section adt ---------- */

/* ---------- section content ---------- */
.section{
  &-content{
    margin-top: 30px;
    &__box{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      grid-template-areas:
      "popularDestance popularDestance topTen"
      "hotSales hotSales frequentQuestions"
      "hotSales hotSales bestOffers";
      @include _991-block{
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
      "popularDestance"
      "topTen"
      "hotSales"
      "frequentQuestions"
      "bestOffers";
      }
    }
    &__title{
      margin-bottom: 10px;
    }
    &__item{
      height: fit-content;
      &-wrap{
        width: 100%;
        background-color: #fff;
        padding: 15px 20px;
        box-shadow: 12px 4px 30px -10px rgba(0,0,0,0.36);
        border-radius: 15px;
      }
    }
  }
}
/* ---------- PopularDest (Популярные направления) ---------- */
#popularDestMobile{
  display: none;
  @include _767(display, block);
}
#popularDestLeft{
  display: block;
  @include _767(display, none);
}
#popularDestRight{
  display: block;
  @include _767(display, none);
}

.popularDest{
  grid-area: popularDestance;

  &__row{
    display: flex;
    gap: 30px;
    width: 100%;
  }

  &__item{
    width: 50%;
    display: block;
    @include _767(width, 100%);
  }

  &__list{
    &-item{
      @include flex(space-between);
      list-style: none;
      padding: 20px 0;
      &:not(:last-child){
        border-bottom: 1px solid $text-gray-color;
      }
    }
    &-box{
      @include flex();

    }
    &-content{
      width: fit-content;
      @include _1199-block{
        width: 120px;
        display: flex;
        flex-wrap: wrap;
      }
      @include _991-block{
        width: fit-content;
        display: block;
      }
      @media (max-width: 400px){
        width: 120px;
        display: flex;
        flex-wrap: wrap;
      }
    }
    &-arrow{
      margin: 0 5px;
    }
    &-toText{
      width: fit-content;
      @include _1199(width, 100%);
      @include _1199(width, fit-content);
      @media (max-width: 400px){
        flex-wrap: wrap;
        width: 100%;
      }
    }
    &-price{
      color: $accented-red-color;
    }
  }
}
/* ---------- topTen (Топ-10 авиакомпаний) ---------- */
.topTen{
  grid-area: topTen;
  &__list{
    margin-left: 20px;
  }
  &__item{
    &:not(:first-child){
      margin-top: 10px;
    }
  }
  &__box{
    @include flex(space-between);
  }
  &__link{
    text-decoration: none;
    color: $link-blue-color;
  }
  &__icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  &__inner{
    @include flex(center, center);
  }
}
/* ---------- END topTen (Топ-10 авиакомпаний) ---------- */
/* ---------- hotSales (Горящие распродажи авиарейсов) ---------- */
.hotSales{
  grid-area: hotSales;
  &__subtitle{
    margin-bottom: 5px;
    &:not(:first-child){
      margin-top: 15px;
    }
  }
  &__text{
    font-size: 0.9rem;
    color: #939393;
  }
}
/* ---------- END hotSales (Горящие распродажи авиарейсов) ---------- */
/* ---------- frequentQuestions (Частые вопросы) ---------- */
.frequentQuestions{
  grid-area: frequentQuestions;
  &__item{
    list-style: none;
    &:not(:first-child){
      margin-top: 15px;
    }
  }
  &__link{
    text-decoration: none;
    color: $link-blue-color;
  }
}
/* ---------- END frequentQuestions (Частые вопросы) ---------- */
/* ---------- bestOffers (Лучшие предложения) ---------- */
#bestOffers{
  position: relative;
}
.bestOffers{
  grid-area: bestOffers;
  background: rgb(208, 209, 251);
  padding: 50px 30px 20px;
  &__title{
    max-width: 200px;
    font-weight: 400;
    line-height: 130%;
    @include _1199(max-width, 180px);
    @include _991(max-width, 200px);
    @media (max-width: 400px){
      margin: 0 auto;
      text-align: center;
    }
  }
  &__img{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 135px;
    @include _1199-block{
      right: 5px;
    }
    @media (max-width: 400px){
      display: none;
    }
  }
  &__form{
    width: 100%;
    margin-top: 70px;
    @include flex(center, stretch);
    @media (max-width: 400px){
      flex-direction: column;
    }
  }
  &__inner{
    width: 85%;
    position: relative;
    top: 0;
    left: 0;
    @media (max-width: 400px){
      width: 100%;
    }
  }
  &__input{
    width: 100%;
    padding: 35px 10px 15px 20px;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: $secondary-color;
    &-label{
      position: absolute;
      top: 56%;
      left: 20px;
      transform: translateY(-50%);
      font-size: 1.1rem;
      color: $text-gray-color;
      transition: 0.2s ease-in-out;
      &_active{
        font-size: 0.9rem;
        transform: translateY(-28px);
      }
      &_error{
        color: $accented-red-color;
      }
    }
    &:focus ~ &-label{
      font-size: 0.9rem;
      transform: translateY(-28px);
    }
    &_error{
      border: 2px solid $accented-red-color;
    }

  }
  &__btn{
    display: block;
    width: 15%;
    @include flex();
    border: none;
    outline: none;
    border-radius: 10px;
    background: $accented-red-color;
    @media (max-width: 400px){
      width: 100%;
      height: 50px;
    }
    &:active{
      background: $accented-lightRed-color;
    }
    &:hover &-icon{
      width: 35px;
      height: 35px;
    }
    &-icon{
      width: 22px;
      height: 22px;
      fill: $secondary-color;
      transition: 0.2s ease-in-out;
    }
  }
}
/* ---------- END bestOffers (Лучшие предложения) ---------- */

