.icon{
  &__globe{
    color: transparent;
    fill: #fff;
    width: 22px;
    height: 22px;
    margin-right: 5px;
  }
  &__route{
    width: 22px;
    height: 22px;
    fill: #fff;
    margin-right: 8px;
  }
  &__burger{
    color: transparent;
    fill: #fff;
    width: 22px;
    height: 22px;
  }
  &__close{
    color: transparent;
    fill: #fff;
    width: 22px;
    height: 22px;
  }
  &__angleRight{
    color: transparent;
    fill: #000;
    width: 22px;
    height: 18px;
  }
  &__telegramIcon{
    color: transparent;
    fill: rgb(167,162,167);
    width: 22px;
    height: 18px;
    &:hover{
      fill: $accented-red-color;
    }
  }
}