/* ----- css loaders ------ */
@keyframes shadowPulse {
  33% {
    background: #ccc;
    box-shadow: -24px 0 #FF3D00, 24px 0 #ccc;
  }
  66% {
    background: #FF3D00;
    box-shadow: -24px 0 #ccc, 24px 0 #ccc;
  }
  100% {
    background: #ccc;
    box-shadow: -24px 0 #ccc, 24px 0 #FF3D00;
  }
}

.loaderBox{
  width: 100%;
  text-align: center;
  display: none;
  margin: 0 auto;
  &_active{
    display: block;
  }
  &__loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    background: #ccc;
    box-shadow: -24px 0 #ccc, 24px 0 #ccc;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
  }
  &__text{
    font-size: 0.9rem;
    letter-spacing: 0.7rem;
    color: $text-gray-color;
  }
}
/* ----- end css loaders ------ */