//ТОЧКМ ПЕРЕЛОМА
// большие рабочие столы, 1400 пикселей и выше
$desktop-size: 1400px;
// большие рабочие столы, 1200 пикселей и выше
$laptop-size: 1200px;
// настольные компьютеры, 992 пикселей и выше
$label-size: 992px;
// Средние устройства (планшеты, 768 пикселей и выше)
$medium-size: 768px;
// телефоны с альбомной ориентацией, 576 пикселей и выше
$mobile-size: 576px;

// BASICS ПЕРЕМЕННЫЕ STYLE
$primary-color: #6E36F7;
$primary-light-color: #805FF6;
$secondary-color: #fff;
$accented-red-color: #FF4D4D;